@for $i from 2 through 50{
	@if $i % 2 == 0{
		.ml-#{$i}{
			margin-left: #{$i}px;
		}
		.mr-#{$i}{
			margin-right: #{$i}px;
		}
		.mb-#{$i}{
			margin-bottom: #{$i}px;
		}
		.mt-#{$i}{
			margin-top: #{$i}px;
		}
		.m_all-#{$i}{
			margin:#{$i}px;
		}		
		.pl-#{$i}{
			padding-left: #{$i}px;
		}
		.pr-#{$i}{
			padding-right: #{$i}px;
		}
		.pb-#{$i}{
			padding-bottom: #{$i}px;
		}
		.pt-#{$i}{
			padding-top: #{$i}px;
		}
		.p_all-#{$i}{
			padding:#{$i}px;
		}

	}
}