.modalbase{
	@include border-radius( 6px );
	@include box-shadow( #232323 0 5px 15px );
	padding:0;
	background-color:#ccc;
	border: none !important;
	& > div{
		@include border-top-radius(6px)
	}
	ul{
		list-style:none !important;
		list-style-position:inside;
	}
	.title{
		margin:0 0 0 25px;
		color:white;
	}
}

.bg-dark{
	background-color:#111;
}
.bg-black{
	background-color:#000;
}
.draggable{
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

.smallbox{
	max-width: 350px;
	min-width:200px;
	width:30%;
}

.tempurature{
	background-size: 6em;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	min-height:100px;
	&.clouds{
		background-image: theme_image(default, "cloudy.png");
	}

	&.clear{
		background-image: theme_image(default, "clear.png");
	}
	&.snow{
		background-image: theme_image(default, "snow.png");
	}

	&.rain {
		background-image: theme_image(default, "rain.png");
	}
}

h2{
	&.title{
		small{
			color: white
		}
	}
}