/*!
 * Styles taken from qunit.css
 */

/** Font Family and Sizes */

#nodeunit-tests, #nodeunit-header, #nodeunit-banner, #nodeunit-testrunner-toolbar, #nodeunit-userAgent, #nodeunit-testresult {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

#nodeunit-testrunner-toolbar, #nodeunit-userAgent, #nodeunit-testresult, #nodeunit-tests li { font-size: small; }
#nodeunit-tests { font-size: smaller; }


/** Resets */

#nodeunit-tests, #nodeunit-tests ol, #nodeunit-header, #nodeunit-banner, #nodeunit-userAgent, #nodeunit-testresult {
    margin: 0;
    padding: 0;
}

/** Header */

#nodeunit-header {
    padding: 0.5em 0 0.5em 1em;

    color: #8699a4;
    background-color: #0d3349;

    font-size: 1.5em;
    line-height: 1em;
    font-weight: normal;

    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
}

#nodeunit-header a {
    text-decoration: none;
    color: #c2ccd1;
}

#nodeunit-header a:hover,
#nodeunit-header a:focus {
    color: #fff;
}

#nodeunit-banner {
    height: 5px;
}
#nodeunit-banner.pass { background-color: #C6E746; }
#nodeunit-banner.fail { background-color: #EE5757; }

#nodeunit-userAgent {
    padding: 0.5em 0 0.5em 2.5em;
    background-color: #2b81af;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
}

div#nodeunit-testrunner-toolbar {
    background: #eee;
    border-top: 1px solid black;
    padding: 10px;
    font-family: 'trebuchet ms', verdana, arial;
    margin: 0;
    font-size: 10pt;
}

/** Tests: Pass/Fail */

#nodeunit-tests {
    list-style-position: inside;
}

#nodeunit-tests li {
    padding: 0.4em 0.5em 0.4em 2.5em;
    border-bottom: 1px solid #fff;
    list-style-position: inside;
}

#nodeunit-tests.hidepass li.pass, #nodeunit-tests.hidepass li.running  {
    display: none;
}

#nodeunit-tests li strong {
    cursor: pointer;
}

#nodeunit-tests li a {
    padding: 0.5em;
    color: #c2ccd1;
    text-decoration: none;
}
#nodeunit-tests li a:hover,
#nodeunit-tests li a:focus {
    color: #000;
}

#nodeunit-tests ol {
    margin-top: 0.5em;
    padding: 0.5em;

    background-color: #fff;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    box-shadow: inset 0px 2px 13px #999;
    -moz-box-shadow: inset 0px 2px 13px #999;
    -webkit-box-shadow: inset 0px 2px 13px #999;
}

#nodeunit-tests table {
    border-collapse: collapse;
    margin-top: .2em;
}

#nodeunit-tests th {
    text-align: right;
    vertical-align: top;
    padding: 0 .5em 0 0;
}

#nodeunit-tests td {
    vertical-align: top;
}

#nodeunit-tests pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#nodeunit-tests del {
    background-color: #e0f2be;
    color: #374e0c;
    text-decoration: none;
}

#nodeunit-tests ins {
    background-color: #ffcaca;
    color: #500;
    text-decoration: none;
}

/*** Test Counts */

#nodeunit-tests b.counts                       { color: black; }
#nodeunit-tests b.passed                       { color: #5E740B; }
#nodeunit-tests b.failed                       { color: #710909; }

#nodeunit-tests li li {
    margin: 0.5em;
    padding: 0.4em 0.5em 0.4em 0.5em;
    background-color: #fff;
    border-bottom: none;
    list-style-position: inside;
}

/*** Passing Styles */

#nodeunit-tests li li.pass {
    color: #5E740B;
    background-color: #fff;
    border-left: 26px solid #C6E746;
}

#nodeunit-tests .pass                          { color: #528CE0; background-color: #D2E0E6; }
#nodeunit-tests .pass .test-name               { color: #366097; }

#nodeunit-tests .pass .test-actual,
#nodeunit-tests .pass .test-expected           { color: #999999; }

/*** Failing Styles */

#nodeunit-tests li li.fail {
    color: #710909;
    background-color: #fff;
    border-left: 26px solid #EE5757;
}

#nodeunit-tests > li:last-child {
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
}

#nodeunit-tests .fail                          { color: #000000; background-color: #EE5757; }
#nodeunit-tests .fail .test-name,
#nodeunit-tests .fail .module-name             { color: #000000; }

#nodeunit-tests .fail .test-actual             { color: #EE5757; }
#nodeunit-tests .fail .test-expected           { color: green;   }

/** Result */

#nodeunit-testresult {
    padding: 0.5em 0.5em 0.5em 2.5em;

    color: #2b81af;
    background-color: #D2E0E6;

    border-bottom: 1px solid white;
}